html{
    background-color: black;
    color: white;
}
nav li a {
    padding: 20px;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
    
nav li {
    float:  left;
}

nav ul {
    float: right;
    list-style: none;

}

section nav  {
    font-size: 18px;
    letter-spacing: 4px;
    height: 50px;
    background-color: blue;
}

#header {
    background-image: url('https://i.pinimg.com/736x/20/bf/26/20bf2652e0dabd693d0facc8414be21d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
